<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera offsetx="198" offsety="128"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <map name="FirstLevel.tmx" />
    <map name="SecondLevel.tmx" />
  </scene>

  <player>
    <folder>textures/</folder>
    <sprite_sheet source="adventurer-v1.5-Sheet.png"/>
    <initialPosition x="20" y="450" orientation="right" yLimit = "800"/>
    <speed MaxSpeedX= "2" MaxSpeedY= "8" Speedx= "0.5" Speedy= "0.6" DashSpeed= "3.5" SpeedDecrease= "0.25"  jumpMaxSpeed= "5"/>
    <gravity value= "0.19"/>
    <Dash dashTime= "300"/>
    <Attacking attackTime= "300"/>
  </player>

</config>