<!-- Config file for the game -->

<config>
  <app>
    <title>The Legend of The Boy</title>
    <organization>UPC</organization>
    <framerateCap fps="30"/>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera offsetx="198" offsety="128"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <map name="FirstLevel.tmx" />
    <map name="SecondLevel.tmx" />
    <player PosX="20" PosY="450" />
    <bat PosX="150" PosY="400" PosX2="150" PosY2="450" />
    <skeleton PosX="410" PosY="450" PosX2="140" PosY2="450"/>
    <bat2 PosX="505" PosY="105" PosX2="150" PosY2="450" />
    <skeleton2 PosX="1100" PosY="0" PosX2="1900" PosY2="340"/>
  </scene>

  <player>
    <folder>textures/</folder>
    <sprite_sheet source="adventurer-v1.5-Sheet.png"/>
    <initialPosition x="20" y="450" orientation="right" yLimit = "800"/>
    <speed MaxSpeedX= "2" MaxSpeedY= "8" Speedx= "0.5" Speedy= "0.6" DashSpeed= "3.5" SpeedDecrease= "0.25"  jumpMaxSpeed= "5"/>
    <gravity value= "0.19"/>
    <Dash dashTime= "300"/>
    <Attacking attackTime= "300"/>
  </player>

  <bat>
    <folder>textures/</folder>
    <sprite_sheet source="bat_spritesheet.png"/>
    <initialPosition x="150" y="400" orientation="right"/>
    <speed Speedx= "0.5" Speedy= "0.6"/>
    <gravity value= "0.19"/>
  </bat>

  <skeleton>
    <folder>textures/</folder>
    <sprite_sheet source="skeleton_spritesheet.png"/>
    <initialPosition x="210" y="445" orientation="right"/>
    <speed Speedx= "0.5" Speedy= "0.6"/>
    <gravity value= "0.19"/>
  </skeleton>

</config>